@(res:List[domain.characters.Result])

@main("Welcome to Play") {
  <div>
    <h1 class="heading">Rick n' Morty Wiki</h1>  
  </div>
  <div class="body">
    <h1>Home</h1>
      <h2>Welcome to <span class="creepster">Rick n Morty</span> Wiki!</h2>
      <img class="center" src="https://i.ytimg.com/vi/k0TWLSQVBpM/maxresdefault.jpg">
    <h2>Main Characters</h2>
    <div class="main-characters-container">
      @for(r <- res.take(5)){
          
          <div class="content">
            <a href="@r.origin.url">
              <img class="main-characters" src="@r.image">
              <p class="main-characters-name">@r.name</p>
            </a>
          </div>
      }
    </div>
  </div>
}
